:root {
    --main-primary-color: #a7bbb6;
    --main-secondary-color: #162823;
    --main-text-color: #000000;
}

@font-face { font-family: Nasal; src: url('assets/Nasal.otf');}
@font-face { font-family: Monzane; src: url('assets/new_monzane.otf');}

.btn-close{
    color: var(--main-text-color);
}

.desc{
    font-size: 6vw;
    font-family: "Artifakt Element Light", ui-monospace;
}

.navbar-toggler{
    border: none;
    border-radius: 20px;
    background-color: var(--main-primary-color);
}

*{
    scroll-behavior: smooth;
    font-family: "Artifakt Element Light", ui-monospace;
}

.about{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 18px;
    font-family: "Artifakt Element Light", ui-monospace;
    color: var(--main-text-color);
}

@media (max-width: 576px) {
    .about img{
        display: none;
    }

    .about{
        display: block;
        margin: 0;
    }

    .desc{
        font-size: 10vw;
    }
}

.navbar-brand{
    font-family: Nasal, ui-monospace;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--main-text-color);
}


.nav-item{
    font-size: large;
}

.nav-item a{
    font-size: large;
}

#hello{
    font-size: 60px;
}

.boxes{
    padding-bottom: 100px;
}

body, #nav-title{
  background-color: var(--main-primary-color);
  color: var(--main-secondary-color);
  overflow-x: hidden;
}

#contact{
    background-color: var(--main-secondary-color);
    display: flex;
    padding: 15px;
}

footer{
    background-color: var(--main-secondary-color);
    color: var(--main-primary-color);
}

#foot-name{
    font-family: "Artifakt Element Light", ui-monospace;
    font-size: 15px;
    margin: 0;
    color: white;
}

#icons{
    text-align: right;
}

#icons a{
    color: white;
    padding: 1px;
}

.offcanvas-body{
    font-size: 20pt;
    font-family: "Artifakt Element Light", ui-monospace;
}

.offcanvas{
    background-color: var(--main-primary-color);
    color: var(--main-text-color);
}

#certifications a, #certifications span{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-secondary-color);
}

.card {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    background-color: var(--main-secondary-color);
    color: white;
}

.content {
    display: none;
}

#home:target,
#about:target,
#projects:target,
#certifications:target {
    display: block;
}

/* Default active section if no target is set */
body:not(:has(:target)) #home {
    display: block;
}